*{
    margin:0;
    padding:0;
}

body{

    background: white;
    font-family: 'ti_circularregular';

}
@font-face {
    font-family: 'ti_circularregular';
    src: url('../font/ti_circular-webfont.eot');
    src: url('../font/ti_circular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/ti_circular-webfont.woff') format('woff'),
        url('../font/ti_circular-webfont.ttf') format('truetype'),
        url('../font/ti_circular-webfont.svg#ti_circularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a{
    cursor: pointer;
}

#wrapper{

    width: 960px;
    margin: 0 auto;
    padding: 40px 0;

}
#navigation{

    padding:10px 0;

}
.logo img{

    width: 94%;
}
.welcome-text img{
    width: 100%;
}
.text-logo {

    padding-top:20px; 
}
.text-logo img{
    width:100%;
}
.main-pic{

    width: 100%;
    margin-top: 100px;
}
.text-logo p{

    font-weight: bold;
    font-family: 'ti_circularregular';
    text-align: center;

}
.head-menu ul{

    background: #3c3d3f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 0;
}
.head-menu ul li{

    display: inline-block;
    list-style: none;
    margin: 0 5px;
}
.head-menu ul li a{

    color: white;
    text-decoration: none;
    text-align: center;

    font-size: 16px;
    font-weight: bold;
}
.head-menu ul li a p{
    margin: 0;
}
.head-menu ul li a:hover{
    text-decoration: underline;
}
p.text-header{

    font-size: 18px;
    font-weight: bold;

}

.main-about-us,.main-contact-us,.main-products{
    background: #eaeaea;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px 0;


}
.main-about-us p,.main-contact-us p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
p.main-about-us-h1,p.main-contact-us-h1{

    font-size: 24px;
}
p.contact-us-t1{

    color: #081f2d;
    font-size: 24px;
}
p.contact-us-t2{

    color: #3f3f3f;
    font-size: 24px;
}
p.contact-us-t3{

    color: #e62349;
    font-size: 30px;
    padding: 36px 0 ;
}
span.contact-us-t4{

    color: #3789ce;
    font-size: 24px;


}
span.contact-us-t5{

    color: #8a1616;
    font-size: 24px;


}
.product-menu{

}
.product-menu ul {

    background: #848587;
    padding: 20px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0;
    margin-bottom: 30px;
   
}
.product-menu ul li{

    display: inline;
    margin-left: 30px;

}
.product-menu ul li a{

    color: #353638;
    font-size: 20px;
    padding: 10px 0;    
    font-weight: bold;
    text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff,
        0 0 0.2em #ffffff ;
}
.main-products{
    text-align: center;
}